# Предобработка

## Импорт библиотек

In [18]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

## Загрузка данных

In [37]:
path2file = '../datasets/train.csv'
black_friday_df = pd.read_csv(path2file)

## Предобработка

In [38]:
black_friday_df = black_friday_df.drop(labels=['User_ID', 'Product_Category_2', 'Product_Category_3'], axis=1)

In [39]:
black_friday_df.Gender[black_friday_df.Gender == 'F'] = 1
black_friday_df.Gender[black_friday_df.Gender == 'M'] = 0

In [40]:
black_friday_df.Age[black_friday_df.Age.isin(['0-17', '26-35', '46-50', '51-55', '36-45', '18-25'])] = 1
black_friday_df.Age[black_friday_df.Age == '55+'] = 0

In [41]:
black_friday_df.City_Category[black_friday_df.City_Category.isin(['A', 'B'])] = 1
black_friday_df.City_Category[black_friday_df.City_Category == 'C'] = 0

In [42]:
black_friday_df.Stay_In_Current_City_Years[black_friday_df.Stay_In_Current_City_Years.isin(['0', '1', '2', '3'])] = 1
black_friday_df.Stay_In_Current_City_Years[black_friday_df.Stay_In_Current_City_Years == '4+'] = 0

In [43]:
black_friday_df = pd.get_dummies(black_friday_df, prefix=['Occupation', 'Category'], columns=['Occupation', 'Product_Category_1'])

In [44]:
black_friday_df

,Product_ID,Gender,Age,City_Category,Stay_In_Current_City_Years,Marital_Status,Purchase,Occupation_0,Occupation_1,Occupation_2,...,Category_11,Category_12,Category_13,Category_14,Category_15,Category_16,Category_17,Category_18,Category_19,Category_20
0,P00069042,1,1,1,1,0,8370,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,P00248942,1,1,1,1,0,15200,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,P00087842,1,1,1,1,0,1422,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,P00085442,1,1,1,1,0,1057,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,P00285442,0,0,0,0,0,7969,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550063,P00372445,0,1,1,1,1,368,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550064,P00375436,1,1,0,1,0,371,0,1,0,...,0,0,0,0,0,0,0,0,0,1
550065,P00375436,1,1,1,0,1,137,0,0,0,...,0,0,0,0,0,0,0,0,0,1
550066,P00375436,1,0,0,1,0,365,0,1,0,...,0,0,0,0,0,0,0,0,0,1
550067,P00371644,1,1,1,0,1,490,1,0,0,...,0,0,0,0,0,0,0,0,0,1

## Сохранение нового датасета

In [45]:
path2file = "../datasets/train_preprocessed.csv"
black_friday_df.to_csv(path2file)